.title-bar{
    background-color: #333133;
    color:white;
    padding:10px 0px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
  }
  .refresh-icon{
    padding: 6px;
    float: right;
    cursor: pointer;
  }
  .place-name{
    text-transform: uppercase;
    font-family: "Bebas Neue";
    font-size: 21px;
  }
  