.row-section{
    background-color: #38A7C2;
    margin-top:10px;
    margin-bottom: 10px;
    padding:15px 0px;
    border-radius: 10px;
    box-shadow: 2px 4px 10px #888;
}
.daily-forecast-day, .daily-forecast-temp{
    font-size: 25px;
}

.daily-forecast-icon{
    max-width: 40px;
}